<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fcu.mid_hw">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MID_HW">
        <activity
            android:name=".user_Search"
            android:exported="false" />
        <activity
            android:name=".restaurant_orderlies"
            android:exported="false" />
        <activity
            android:name=".restaurant_menu"
            android:exported="false" />
        <activity
            android:name=".database"
            android:exported="false" />
        <activity
            android:name=".Order"
            android:exported="false" />
        <activity
            android:name=".profile_restaurant"
            android:exported="false" />
        <activity
            android:name=".RegitserActivity"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".Discover_page"
            android:exported="false" />
        <activity
            android:name=".Profile_page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>